
@import url('https://fonts.googleapis.com/css2?family=Simonetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital@1&display=swap');

$full: 100%;


body {
  max-width: 1600px;
  text-align: center;
  margin: 0
}

.title {
  font-family: Simonetta;
  font-style: italic;
  font-size: 3vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: $full;
  height: $full;
}

.foto {
  flex-basis: 15%;
  border: 0px solid black;
  margin: 0.5%;
}

@media screen and (max-width:1200px) {
  .foto {
    flex-basis: 20%;
  }
}

@media screen and (max-width:1000px) {
  .foto {
    flex-basis: 30%;
  }
}

@media screen and (max-width:800px) {
  .foto {
    flex-basis: 40%;
  }
}

@media screen and (max-width:600px) {
  .foto {
    flex-basis: 50%;
  }
}


@media screen and (max-width:450px) {
  .foto {
    flex-basis: 90%;
  }
}